In [10]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [11]:
df = pd.read_csv("lastfm_9000_users.csv")

In [12]:
df.head()

,Unnamed: 0,user_id,artist_mbid,artist_name,plays
0,0,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,b7ffd2af-418f-4be2-bdd1-22f8b48613da,nine inch nails,11092
1,1,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,8ca01f46-53ac-4af2-8516-55a909c0905e,my bloody valentine,1671
2,2,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,e795e03d-b5d5-4a5f-834d-162cfb308a2c,pj harvey,1603
3,3,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,69ee3720-a7cb-4402-b48d-a02c366f2bcf,the cure,1588
4,4,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,90cc2464-234e-4da0-b39b-576f36e633bc,antony and the johnsons,1039

In [6]:
model_knn = NearestNeighbors(metric = "cosine", algorithm = "brute")
model_knn.fit()

          Unnamed: 0          plays
count  438346.000000  438346.000000
mean   219172.500000     216.435998
std    126539.734886     800.547832
min         0.000000       1.000000
25%    109586.250000      34.000000
50%    219172.500000      94.000000
75%    328758.750000     225.000000
max    438345.000000  242328.000000